
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=title%></title>
    </head>
    <body>
        
        <form id="node_login_form" action="login" method="post" class="form-test">
            <div class="form-group">
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="emp_email" id="email" placeholder="Enter email">            
            </div>
            <div class="form-group">
                <label for="emp_profile_pic">Password</label>
                <input type="password" class="form-control" name="emp_password" id="emp_password" placeholder="Enter Password" />
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
        <a href="/signup">Register</a>
    </body>
</html>